section.faq {
    padding: 80px 0;
}

.faq-title {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.accordion-item {
    border: none;
    border-bottom: solid 1px #86888A;
}
.accordion-button::after {
    transition: transform 0.3s;
    background: url("/assets/images/accordion-arrow.png") no-repeat;
    width: 30px;
    height: 30px;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
}

.accordion-button {
    font-weight: 900;
    font-size: 28px;
    border: none;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.accordion-button.collapsed {
    color: var(--black-txt);
}

.accordion-button:not(.collapsed) {
    color: var(--primary-blue);
}

.accordion-body {
    font-size: 19px;
    color: var(--black-txt);
}