<footer class="footer">
    <div class="container">
        <div class="footer-data">
            <!-- Logo and Navigation -->
            <div>
                <img src="assets/images/logo-white.png" alt="Logo" class="footer-logo">
            </div>

            <div>
                <ul class="footer-links">
                    <li><a role="button">HOME</a></li>
                    <li><a role="button">ABOUT US</a></li>
                    <li><a role="button">DIGITAL TRANSFORMATION</a></li>
                    <li><a role="button">SERVICES</a></li>
                    <li><a role="button">SOFTWARE SOLUTIONS</a></li>
                    <li><a role="button">BLOG</a></li>
                    <li><a role="button">CONTACT US</a></li>
                </ul>
            </div>

            <!-- Contact Information -->
            <div>
                <h5>Contact Us</h5>
                <p><img src="/assets/images/call.png" alt="Call"/> 033-2466 0346</p>
                <p><img src="/assets/images/email.png" alt="Email"/> info@vrl.com.in</p>
                <h6 class="mt-4">Registered Office:</h6>
                <p>13 & 14, Street World <br> Kolkata - 700 091</p>
                <h6 class="mt-4">Corporate Office:</h6>
                <p>478, Park Street Road <br> Kolkata - 700 025</p>
            </div>

            <!-- "Get in Touch" and Social Media -->
            <div>
                <h5>Digitalize Now.</h5>
                <p>Book Your Consultation.</p>
                <a role="button" class="btn btn-warning get-in-touch">Get in Touch<img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
            <div>
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a role="button"><img src="/assets/images/facebook.png" alt="Facebook"></a>
                    <a role="button"><img src="/assets/images/linkedin.png" alt="LinkedIn"></a>
                    <a role="button"><img src="/assets/images/instagram.png" alt="Instagram"></a>
                    <a role="button"><img src="/assets/images/quora.png" alt="Quora"></a>
                </div>
            </div>
        </div>
    </div>
</footer>