<section class="services-section">
    <h2 class="main-heading">
        Our Tailored <span>Integrated Services</span>
    </h2>
    <div class="set-lg">
        <div class="grid-container">
            <div class="service-card">
                <h3>IT Infrastructure <br> and Networks</h3>
                <img src="/assets/images/s1.png" alt="Network" />
            </div>
            <div class="arrow1">
                <img src="/assets/images/s-arrow.png" alt="TECNAC"/>
            </div>
            <div class="arrow2">
                <img src="/assets/images/s-arrow2.png" alt="TECNAC"/>
            </div>
            <div class="arrow3">
                <img src="/assets/images/s-arrow2.png" alt="TECNAC"/>
            </div>
            <div class="arrow4">
                <img src="/assets/images/s-arrow2.png" alt="TECNAC"/>
            </div>
            <div class="arrow5">
                <img src="/assets/images/s-arrow2.png" alt="TECNAC"/>
            </div>
            <div class="service-card">
                <h3>IT and Data<br/>Security</h3>
                <img src="/assets/images/s2.png" alt="Data Center" />
            </div>
            <div class="service-card">
                <h3>Document Management <br> & Services</h3>
                <img src="/assets/images/s5.png" alt="Document Services" />
            </div>
        </div>
        <div class="grid-container grid2">
            <div class="service-card active">
                <img src="/assets/images/s3.png" alt="Security" />
                <h3>Data Center</h3>
            </div>
            <div class="service-card">
                <img src="/assets/images/s4.png" alt="Access Control" />
                <h3>Access Control, Security & <br> Surveillance System</h3>
            </div>
            <div class="service-card">
                <img src="/assets/images/s6.png" alt="Collaboration" />
                <h3>Collaboration<br/>Systems</h3>
            </div>
        </div>
    </div>
</section>