.custom-navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;  
    .logo {
      height: 40px;
    }  
    .navbar-nav {
      border-bottom: solid 1px var(--black-txt);
      .nav-item {
        .nav-link {
          color: var(--gray);
          font-weight: 400;
          font-size: 17px;
          padding: 10px 15px;
          position: relative;
          transition: color 0.3s;  
          &:hover,
          &.active {
            // color: var(--primary-yellow);
            color: var(--primary-blue);
            font-weight: 500;
          }
          &.active::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            // background: var(--primary-yellow);
            background: var(--primary-blue);
          }
        }
      }
    }
  
    // Right-side buttons
    .get-in-touch {
      background: var(--primary-blue);
      border-radius: 9px;
      font-size: 18px;
      font-weight: 900;
      padding: 8px 15px;
      color: #fff;
      text-transform: uppercase;
      margin-right: 10px;
    }
  
    .search-btn {
      border: none;
      background: transparent;
      font-size: 18px;
      color: #003399;
    }
  
    // Responsive Styles
    @media (max-width: 991px) {
      .navbar-nav {
        text-align: center;
      }
  
      .get-in-touch {
        display: block;
        margin: 10px auto;
      }
    }
  }
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-input-wrapper {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
  }
  
  .search-input {
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: width 0.3s ease;
    width: 300px;
  }
  
  .clear-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 28px;
    color: #888;
    cursor: pointer;
  }