// Our Partner
.partners-section {
    text-align: center;
    padding: 50px 0;
    background: #fff;
    .main-heading {
        text-transform: uppercase;
    }
    img {
        max-width: 100%;
    }
    ::ng-deep .owl-item {
        border: solid 1px #86888A;
        min-height: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .partners-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .partner-logo {
        padding: 10px 20px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 150px;
        height: 80px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}