<section class="partners-section">
    <h2 class="main-heading">OUR <span>PARTNERS</span></h2>
    <div class="partners-container mt-5">
        <div style="width: 80%;">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="/assets/images/brio.png" alt="Slide 1"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/canon.png" alt="Slide 2"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/microsoft.png" alt="Slide 3"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/schneider.png" alt="Slide 4"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/vertiv.png" alt="Slide 5"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/acer.png" alt="Slide 6"></ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>