<section class="testimonial-section">
    <h3>WHO WE SERVE</h3>
    <h2><strong>Without our customers,</strong> we wouldn’t exist.</h2>
    <div class="testimonial-card">
        <div class="quote-icon-left"><img src="/assets/images/quote-icon.png" alt="Quote"/></div>
        <div class="testimonial-content">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsynwv-5qtogtOwJbIjaPFJUmHpzhxgqIAug&s" alt="Customer" class="user-img">
            <h4>Lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
               labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus</p>
        </div>
        <div class="quote-icon-right"><img src="/assets/images/quote-icon.png" alt="Quote"/></div>
    </div>
</section>