<!-- <app-home></app-home> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-digital-transformation></app-digital-transformation> -->
<!-- <app-manufacturing></app-manufacturing> -->
<!-- <app-smart-factory></app-smart-factory> -->
<!-- <app-mining></app-mining> -->
<!-- <app-fleet-management></app-fleet-management> -->
<!-- <app-logistics></app-logistics> -->
<!-- <app-fleet-management-detail></app-fleet-management-detail> -->
<!-- <app-industrial-iot-solution></app-industrial-iot-solution> -->
<!-- <app-predictive-maintenance></app-predictive-maintenance> -->
<!-- <app-vechile-tracking></app-vechile-tracking> -->
<!-- <app-assets-tracking-stystem></app-assets-tracking-stystem> -->
<!-- <app-sensor-integration></app-sensor-integration> -->
<!-- <app-fule-monitoring-system></app-fule-monitoring-system> -->
<!-- <app-fleet-management-solution></app-fleet-management-solution> -->
<!-- <app-personal-safty-fatigue></app-personal-safty-fatigue> -->
<!-- <app-rugged-pcs></app-rugged-pcs> -->
<!-- <app-assets-tracking-solution></app-assets-tracking-solution> -->
<!-- <app-fule-monitor-detail></app-fule-monitor-detail> -->
<!-- <app-predictive-maintainance-solution></app-predictive-maintainance-solution> -->
<!-- <app-education></app-education> -->
<!-- <app-boardroom-solution></app-boardroom-solution> -->
<!-- <app-campus-it-solution></app-campus-it-solution> -->
<!-- <app-digital-classroom></app-digital-classroom> -->
<app-learning-management-system></app-learning-management-system>
<!-- <app-library-management-solution></app-library-management-solution> -->
<!-- <app-pa-system></app-pa-system> -->