.services-section {
    text-align: center;
    padding: 50px 0;
    background: #fff;
}
// .services-section h2 {
//     font-size: 24px;
//     color: var(--gray);
//     font-weight: normal;
// }
.services-section h2 span {
    color: var(--primary-blue);
}
.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.service-card {
    background: var(--lite-white);
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    transition: .2s;
    @media (max-width: 991px) {
        width: 90%;
    }
    &:hover, &.active {
        border-bottom: solid 4px var(--primary-blue);
        .service-content a {
            margin-left: 2px;
        }

    }
}
.service-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.service-content {
    padding: 15px;
}
.service-content h3 {
    font-size: 23px;
    font-weight: 900;
    color: var(--primary-blue);
}
.service-content p {
    font-size: 14px;
    color: var(--black-txt);
    margin-bottom: 10px;
}
.service-content a {
    color: var(--primary-blue);
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    img {
        width: 11px;
        height: 11px;
    }
}