<section class="services-section">
    <h2 class="main-heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="service-card">
            <img src="/assets/images/it-img.png" alt="IT Services">
            <div class="service-content">
                <h3>IT Services</h3>
                <p>Leap the way with smart-architected hardware to propel your business to new heights.</p>
                <a role="button">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
        <div class="service-card active">
            <img src="/assets/images/it-infra.png" alt="IT Infrastructure">
            <div class="service-content">
                <h3>IT Infrastructure</h3>
                <p>Transform your hardware and software into a strategic asset with our customized solutions.</p>
                <a role="button">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
        <div class="service-card">
            <img src="/assets/images/software-solution.png" alt="Software Solutions">
            <div class="service-content">
                <h3>Software Solutions</h3>
                <p>Drive organizational excellence with our intuitive software services.</p>
                <a role="button">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
        <div class="service-card">
            <img src="/assets/images/cloud-solution.png" alt="Cloud Solutions">
            <div class="service-content">
                <h3>Cloud Solutions</h3>
                <p>Implement high-performance cloud strategy for seamless management and optimization.</p>
                <a role="button">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
    </div>
</section>