<section class="we-serve">
    <div class="container">
        <h2><b>Industries</b> We Serve</h2>
        <div class="industry">
            <div class="list">
                <img src="/assets/images/mining-sm.png" alt="Mining">
                Mining
            </div>
            <div class="list">
                <img src="/assets/images/logistic-sm.png" alt="Logistics">
                Logistics
            </div>
            <div class="list">
                <img src="/assets/images/education-sm.png" alt="Education">
                Education
            </div>
            <div class="list">
                <img src="/assets/images/manufacturing.png" alt="Manufacturing">
                Manufacturing
            </div>
        </div>
    </div>
</section>