<section class="offerings">
    <h3>Other <span>Offerings</span></h3>
    <p>Your <strong>360°</strong> IT Tech Essentials Partner</p>

    <div class="offerings-container">
        <div class="offering-card">
            <img src="/assets/images/hardware.png" alt="Hardware Supplies">
            <div class="cta">
                <h4>Hardware Supplies</h4>
                <a role="button" class="btn">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>

        <div class="offering-card">
            <img src="/assets/images/software.png" alt="Software Supplies">
            <div class="cta">
                <h4>Software Supplies</h4>
                <a role="button" class="btn">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
    </div>
</section>