<section class="blog-section">
    <h2 class="main-heading">OUR <span>BLOG</span></h2>
    <h3>Insights at the Forefront of Tech</h3>
    <div class="container mt-4">
        <div class="blog-container" style="width: 100%;">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                        <img src="/assets/images/blog/blog1.png" alt="Blog">
                        <div class="blog-content">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            <span class="date">September 9, 2023</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <img src="/assets/images/blog/blog1.png" alt="Blog">
                        <div class="blog-content">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            <span class="date">September 9, 2023</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <img src="/assets/images/blog/blog1.png" alt="Blog">
                        <div class="blog-content">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            <span class="date">September 9, 2023</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>