<div class="home-page">
    <app-header-nav></app-header-nav>
</div>
<app-hero-banner></app-hero-banner>
<!-- Our Company -->
<section class="company-section">
    <div class="container">
        <div class="c-data">
            <div class="company-text">
                <h2>OUR COMPANY</h2>
                <h3>Integrated and Customized Services,</h3>
                <p>designed for your business. Join the digital journey with Vareli, your catalyst for the change.</p>
            </div>
            <div class="company-description">
                <p>We help businesses modernize technology, reinvent processes, and shift experiences through end-to-end IT solutions customized to clients' specific needs. Contact us today to experience the Vareli difference!</p>
                <a role="button" class="btn">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
    </div>
</section>
<!-- End Our Company -->
<!-- Digital Transformation -->
<section class="transformation-section">
    <div class="container">
        <div class="t-data">
            <div class="transformation-image">
                <img src="/assets/images/digital-transformation.png" alt="Digital Transformation">
            </div>
            <div class="transformation-text">
                <h2>DIGITAL TRANSFORMATION</h2>
                <p>With a deep understanding of digital strategies, Vareli can help your business grow rapidly and improve operational efficiency. We integrate enterprises and accelerate value through advanced data processing solutions. Let our expertise enrich your digital transformation efforts.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Digital Transformation -->
<!-- Driving Innovation Across Industries -->
<div class="driving-innovation">
    <div class="container">
        <div class="heading">Driving Innovation Across Industries</div>
    </div>
    <div class="anim-container">
        <owl-carousel-o [options]="innovation">
            <ng-template carouselSlide>
                <div class="anim-card-list">
                    <div class="anim-card">
                        <h4>Mining</h4>
                        <div class="slide-top">
                            <p>Reshaping mining landscapes with precision and power, leading a digital transformation that unlocks efficiency.</p>
                            <a role="button" class="know-more">View More <img src="/assets/images/arrow-yellow.png" alt="Mining"></a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="anim-card-list">
                    <div class="anim-card">
                        <h4>Logistics</h4>
                        <div class="slide-top">
                            <p>Leveraging the digital technology to provide real-time planning and routing for vehicles in transit.</p>
                            <a role="button" class="know-more">View More <img src="/assets/images/arrow-yellow.png" alt="Mining"></a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="anim-card-list">
                    <div class="anim-card">
                        <h4>Manufacturing</h4>
                        <div class="slide-top">
                            <p>From smart automation to data-driven insights, redefine efficiency and excellence while optimizing operations with precision.</p>
                            <a role="button" class="know-more">View More <img src="/assets/images/arrow-yellow.png" alt="Mining"></a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="anim-card-list">
                    <div class="anim-card">
                        <h4>Education</h4>
                        <div class="slide-top">
                            <p>Emerging opportunities in education, crafting e-platforms for personalized learning models and adaptive learning.</p>
                            <a role="button" class="know-more">View More <img src="/assets/images/arrow-yellow.png" alt="Mining"></a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- Our Experience -->
<section class="experience-section">
    <div class="experience-container">
        <div class="experience-years">
            20 <span>Years Of Experience</span>
        </div>
        <div class="stats-container">
            <div class="stats-grid">
                <div class="stats-item">
                    <h2>360<sup>o</sup></h2>
                    <p>BUSINESS SOLUTIONS</p>
                </div>
                <div class="stats-item">
                    <h2>20+</h2>
                    <p>AWARDS WON</p>
                </div>
                <div class="stats-item">
                    <h2>250+</h2>
                    <p>SATISFIED CLIENTS</p>
                </div>
                <div class="stats-item">
                    <h2>200+</h2>
                    <p>CERTIFIED PROFESSIONALS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-our-services></app-our-services>

<section class="digitization-section">
    <div class="overlay">
        <h3>What Makes Us Different?</h3>
        <h1 *ngIf="currentIndex === 0" class="fade-in">DIGITIZATION</h1>
        <h1 *ngIf="currentIndex === 1" class="fade-in">Integration</h1>
        <h1 *ngIf="currentIndex === 2" class="fade-in">Customization</h1>
        <p>We lead with a commitment to quality and sincerity, offering an integrated approach for client success and a purpose of service.</p>
    </div>
</section>
<!-- Our Partner -->
<section class="partners-section">
    <h2 class="main-heading">OUR <span>PARTNERS</span></h2>
    <div class="partners-container mt-5">
        <div style="width: 80%;">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="/assets/images/brio.png" alt="Slide 1"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/canon.png" alt="Slide 2"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/microsoft.png" alt="Slide 3"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/schneider.png" alt="Slide 4"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/vertiv.png" alt="Slide 5"></ng-template>
                <ng-template carouselSlide><img src="/assets/images/acer.png" alt="Slide 6"></ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<!-- Our Blog -->
<app-our-blog></app-our-blog>
<!-- End Blog -->
<!-- Testimonial -->
<app-testimonial></app-testimonial>
<!-- End Testimonial -->
 <!-- Our Client -->
<section class="partners-section border-t">
    <h2 class="main-heading">OUR <span>Client</span></h2>
    <img src="/assets/images/our-client.png" alt="Our Client">
    <!-- <div class="partners-container marquee-container">
        <div class="partner-logo marquee"><img src="/assets/images/brio.png" alt="BRIO"></div>
        <div class="partner-logo marquee"><img src="/assets/images/canon.png" alt="Canon"></div>
        <div class="partner-logo marquee"><img src="/assets/images/microsoft.png" alt="Microsoft"></div>
        <div class="partner-logo marquee"><img src="/assets/images/schneider.png" alt="Schneider Electric"></div>
        <div class="partner-logo marquee"><img src="/assets/images/vertiv.png" alt="Vertiv"></div>
        <div class="partner-logo marquee"><img src="/assets/images/acer.png" alt="Acer"></div>
    </div> -->
</section>

<app-offering></app-offering>

<section class="footer-banner">
    <div class="overlay">
        <div class="content">
            <h1>Allow us to offer you the <span>Assistance you Need.</span></h1>
            <a role="btn" class="btn">Let's Discuss</a>
        </div>
    </div>
</section>
<app-footer></app-footer>