// Our Company
.company-section {
    margin: 150px auto;
    @media (max-width: 991px) {
        margin: 80px 0;
    }
    .c-data {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
}
.company-text {
    flex: 1;
    color: var(--black-shade);
    h3 {
        font-size: 30px;
        font-weight: 900;
    }
     p{
        font-size: 30px;
        font-weight: 400;
        line-height: 129%;
     }
}
.company-text h2 {
    color: var(--primary-blue);
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 10px;
    position: relative;
}
.company-text h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: var(--primary-yellow);
    margin-top: 5px;
}

.company-description {
    flex: 1;
    border-left: 3px solid var(--primary-blue);
    padding-left: 20px;
    font-size: 22px;
    font-weight: 400;
    color: var(--black-shade);
}
.btn {
    display: inline-block;
    background: var(--primary-yellow);
    color: black;
    padding: 8px 15px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 9px;
    font-size: 14px;
}
.btn:hover {
    background: #e0a800;
}
.company-description .btn {
    display: inline-flex;
    gap: 7px;
    align-items: center;
}
// Digital Transformation
.transformation-section {
    margin: 50px auto 0;
    background: rgba(242, 242, 242, 1);
    padding: 40px;
    .t-data{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        text-transform: uppercase;
        @media (max-width: 991px) {
            gap: 40px;
            flex-direction: column;
        }
    }
}
.transformation-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}
.transformation-text {
    max-width: 50%;
    @media (max-width: 991px) {
        max-width: 100%;
    }
}
.transformation-text h2 {
    color: var(--primary-blue);
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 10px;
    position: relative;
}
.transformation-text h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: var(--primary-yellow);
    margin-top: 5px;
}
.transformation-text p {
    font-size: 22px;
    color: var(--black-shade);
    line-height: 1.5;
}
// Experience
.experience-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    padding: 60px 0;
    
}
.experience-container {
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 991px) {
        flex-direction: column;
        gap: 40px;
    }
}
.experience-years {
    font-size: 234px;
    font-weight: 900;
    color: var(--sky-blue);
    line-height: normal;
    text-align: center;
    position: relative;
    flex: 1;
}
.experience-years span {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: var(--gray);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
.stats-container {
    display: flex;
    justify-content: center;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: auto;
    text-align: center;
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        background: #ccc;
    }

    &::before { // Vertical line
        width: 1px;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    &::after { // Horizontal line
        height: 1px;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.stats-item {
    h2 {
        font-size: 60px;
        color: var(--gray);
        margin: 0;
        line-height: normal;
    }
    
    p {
        font-size: 16px;
        color: var(--lite-gray);
        margin-top: 5px;
        font-weight: 300;
    }
}
// Our Partner
.partners-section {
    text-align: center;
    padding: 50px 0;
    background: #fff;
    .main-heading {
        text-transform: uppercase;
    }
    img {
        max-width: 100%;
    }
}
// .partners-section h2 {
//     font-size: 24px;
//     font-weight: bold;
//     color: var(--gray);
// }
.partners-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.partner-logo {
    padding: 10px 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 150px;
    height: 80px;
}
.partner-logo img {
    max-width: 100%;
    max-height: 100%;
}
// Digital Section
.digitization-section {
    background: url('/assets/images/different.png') no-repeat center center/cover;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    h3 {
        font-size: 46px;
        font-weight: 700;
    }
    h1 {
        font-size: 163px;
        font-weight: 900;
        text-shadow: -6px 7px 5.5px rgba(12, 63, 91, 1);
        text-transform: uppercase;
        @media (max-width: 991px) {
            font-size: 40px;
        }
    }
    p {
        font-size: 32px;
        font-weight: 500;
        margin: auto;
        text-shadow: -6px 7px 5.5px rgba(12, 63, 91, 1);
        max-width: 75%;
        @media (max-width: 991px) {
            font-size: 20px;
        }
    }
}
.border-t {
    border-top: solid 1px var(--lite-white);
}
// Footer Banner
.footer-banner {
    position: relative;
    background: url('/assets/images/office-interior.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    @media (max-width: 991px) {
        height: 400px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content h1 {
        font-size: 59px;
        font-weight: 400;
        line-height: 176%;
        text-shadow: 0px 6px 5.4px rgba(0, 0, 0, 57%);
        @media (max-width: 991px) {
            font-size: 32px;
        }
        span {
            font-weight: 700;
            color: var(--primary-yellow)
        }
    }
    .btn {
        display: inline-block;
        background: #FFC107;
        color: var(--black-txt);
        font-size: 22px;
        padding: 10px 40px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: 400;
        border-radius: 5px;
    }
    .btn:hover {
        background: #e0a800;
    }
}

.fade-in {
    animation: fadeInUp 0.6s ease both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.home-page ::ng-deep .custom-navbar {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: none;
    .navbar-nav {
        .nav-item {
          .nav-link{
            color: #fff !important;
            &:hover,
            &.active {
                color: var(--primary-yellow) !important;
            }
            &.active::after {
                background: var(--primary-yellow) !important;
            }
          }
        }
    }
    .search-container .search-btn img {
        filter: none;
    }
}
.driving-innovation {
    background: url("/assets/images/banner/automotive-assembly-line.png") no-repeat center center/cover;
    position: relative;
    height: 100vh;
    .heading {
        font-size: 66px;
        font-weight: 800;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 80%);
        color: #fff;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
        @media (max-width: 991px) {
            font-size: 40px;
        }
        &::before {
            content: "";
            border-bottom: solid 4px var(--primary-yellow);
            width: 100%;
            position: absolute;
            bottom: 0;
            border-radius: 6px;
        }
    }
    .anim-container {
        display: flex;
        height: 100%;
        gap: 2px;
        .anim-card-list {
            height: 100%;
            background-color: rgba(1, 53, 111, 0.5);
            max-width: 33%;
            width: 33%;
            overflow: hidden;
            position: relative;
            transition: .2s;
            &:hover .anim-card{
                background-color: rgba(1, 53, 111, 0.55);
                .slide-top {
                    transform: translateY(0);                
                }
            }
            .anim-card {
                padding: 46px;
                position: relative;
                height: 100%;
                cursor: pointer;
                padding-top: calc(100vh - 300px);
                @media (max-width: 991px) {
                    padding: 20px;
                }
                h4 {
                    font-size: 32px;
                    font-weight: 700;
                    color: #fff;                
                }
                .slide-top {
                    transform: translateY(300%);
                    transition: transform 0.4s ease-in-out;
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 0;
                    }
                    a {
                        color: var(--primary-yellow);
                        font-size: 15px;
                        font-weight: 900;
                        text-decoration: none;
                    }
                }
            }
            
        }
    }
}