<app-header-nav></app-header-nav>
<app-hero-banner></app-hero-banner>
<!-- Our Company -->
<section class="company-section">
    <div class="container">
        <div class="c-data">
            <div class="company-text">
                <h2>OUR COMPANY</h2>
                <h3>Integrated and Customized Services,</h3>
                <p>designed for your business. Join the digital journey with Vareli, your catalyst for the change.</p>
            </div>
            <div class="company-description">
                <p>We help businesses modernize technology, reinvent processes, and shift experiences through end-to-end IT solutions customized to clients' specific needs. Contact us today to experience the Vareli difference!</p>
                <a role="button" class="btn">Know More <img src="/assets/images/arrow.png" alt="Know more"></a>
            </div>
        </div>
    </div>
</section>
<!-- End Our Company -->
<!-- Digital Transformation -->
<section class="transformation-section">
    <div class="container">
        <div class="t-data">
            <div class="transformation-image">
                <img src="/assets/images/digital-transformation.png" alt="Digital Transformation">
            </div>
            <div class="transformation-text">
                <h2>DIGITAL TRANSFORMATION</h2>
                <p>With a deep understanding of digital strategies, Vareli can help your business grow rapidly and improve operational efficiency. We integrate enterprises and accelerate value through advanced data processing solutions. Let our expertise enrich your digital transformation efforts.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Digital Transformation -->
 <!-- Our Experience -->
 <section class="experience-section">
    <div class="experience-container">
        <div class="experience-years">
            20 <span>Years Of Experience</span>
        </div>
        <div class="stats-container">
            <div class="stats-grid">
                <div class="stats-item">
                    <h2>360<sup>o</sup></h2>
                    <p>BUSINESS SOLUTIONS</p>
                </div>
                <div class="stats-item">
                    <h2>20+</h2>
                    <p>AWARDS WON</p>
                </div>
                <div class="stats-item">
                    <h2>250+</h2>
                    <p>SATISFIED CLIENTS</p>
                </div>
                <div class="stats-item">
                    <h2>200+</h2>
                    <p>CERTIFIED PROFESSIONALS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-our-services></app-our-services>

<section class="digitization-section">
    <div class="overlay">
        <h3>What Makes Us Different?</h3>
        <h1>DIGITIZATION</h1>
        <p>We lead with a commitment to quality and sincerity, offering an integrated approach for client success and a purpose of service.</p>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>
<!-- Our Partner -->
<section class="partners-section">
    <h2 class="main-heading">OUR <span>PARTNERS</span></h2>
    <div class="partners-container">
        <div class="partner-logo"><img src="/assets/images/brio.png" alt="BRIO"></div>
        <div class="partner-logo"><img src="/assets/images/canon.png" alt="Canon"></div>
        <div class="partner-logo"><img src="/assets/images/microsoft.png" alt="Microsoft"></div>
        <div class="partner-logo"><img src="/assets/images/schneider.png" alt="Schneider Electric"></div>
        <div class="partner-logo"><img src="/assets/images/vertiv.png" alt="Vertiv"></div>
        <div class="partner-logo"><img src="/assets/images/acer.png" alt="Acer"></div>
    </div>
</section>
<!-- Our Blog -->
<app-our-blog></app-our-blog>
<!-- End Blog -->
<!-- Testimonial -->
<app-testimonial></app-testimonial>
<!-- End Testimonial -->
 <!-- Our Client -->
<section class="partners-section border-t">
    <h2 class="main-heading">OUR <span>Client</span></h2>
    <div class="partners-container">
        <div class="partner-logo"><img src="/assets/images/brio.png" alt="BRIO"></div>
        <div class="partner-logo"><img src="/assets/images/canon.png" alt="Canon"></div>
        <div class="partner-logo"><img src="/assets/images/microsoft.png" alt="Microsoft"></div>
        <div class="partner-logo"><img src="/assets/images/schneider.png" alt="Schneider Electric"></div>
        <div class="partner-logo"><img src="/assets/images/vertiv.png" alt="Vertiv"></div>
        <div class="partner-logo"><img src="/assets/images/acer.png" alt="Acer"></div>
    </div>
</section>

<app-offering></app-offering>

<section class="footer-banner">
    <div class="overlay">
        <div class="content">
            <h1>Allow us to offer you the <span>Assistance you Need.</span></h1>
            <a role="btn" class="btn">Let's Discuss</a>
        </div>
    </div>
</section>
<app-footer></app-footer>